In [8]:
import sys
sys.path.append('../src')
from constants import hashrate_url

import requests
import pandas as pd
from datetime import datetime

def hashrate():
    url = hashrate_url
    response = pd.DataFrame(requests.get(url).json())
    hashrate_data = []
    for idx, row in response.iterrows():
        timestamp = row['hashrate_value']['x']
        hashrate_value = row['hashrate_value']['y']
        hashrate_data.append({
            'timestamp': timestamp,
            'hashrate_value': hashrate_value
        })
    df = pd.DataFrame(hashrate_data)
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['date'] = df['timestamp'].dt.date
    df = df.drop(columns='timestamp')
    df = df.sort_values('date').reset_index(drop = True)
    return df

In [9]:
hash = hashrate()
hash

     hashrate_value        date
0        745.848749  2020-10-23
1        819.528896  2020-10-28
2        773.668920  2020-11-01
3        954.648937  2020-11-05
4        829.906566  2020-11-09
..              ...         ...
495       42.267877  2025-10-04
496       42.074143  2025-10-08
497       42.051257  2025-10-11
498       41.896377  2025-10-15
499       43.089363  2025-10-18

[500 rows x 2 columns]